.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    justify-content: flex-start;
    font-size: 35px;
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);
    margin: 40px 0px 30px 0px;
}

.p {
    color: #696969;
}


.table td {
    border-bottom: 1px solid #d0cece;
    /* 셀에 검은색 테두리를 추가 */
    padding: 10px;
    /* 셀 안의 내용과 테두리 사이의 간격을 설정 */
}

.table td:nth-child(1),
.table th:nth-child(1) {
    width: 5%;
    text-align: center;

    /* 원하는 너비로 조정하세요. */
}

.table td:nth-child(3),
.table th:nth-child(3),
.table td:nth-child(4),
.table th:nth-child(4) {
    text-align: center;
    width: 15%
}

.table td:nth-child(5),
.table th:nth-child(5) {
    text-align: center;
    width: 7%
}


.table th {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #d0cece;
    /* 헤더 셀에 검은색 테두리를 추가 */
    padding: 10px;
    text-align: center;

    /* 헤더 셀 안의 내용과 테두리 사이의 간격을 설정 */
}

.table {
    border-collapse: collapse;

    width: 84%;
}

.createBoard {
    margin-top: 15px;
    position: absolute;
    right: 8%;
    text-align: center;
    background-color: #6ecff3;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    align-items: center;
}

td {
    border: 1px solid black;
    width: 30vw;
}